body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.board {
    display: flex;
    width: 300px;
    margin: auto;

}

.row {
    flex: 1;
}

.square {
    height: 100px;
    width: 100px;
    background: transparent;
    border: 1px solid #999;
    font-weight: bold;
    font-size: 50px;
    line-height: 40px;
    text-align: center;
}

.square:focus {
    outline: none;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}